.brand-page-container {
  min-height: 90vh;
}

.brand-banner-container {
  height: 200px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.brand-banner-container span {
  display: block;
}
