.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: black;
}

.footer h2 {
  font-size: 1.3rem;
}

.footer__text {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.735);
}

.list-group-item {
  background: transparent !important;
}

.footer__quick-links ul li {
  background: transparent !important;
}

.footer__quick-links ul li a {
  color: rgba(255, 255, 255, 0.735) !important;
}

.quick__links-title {
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.1rem;
}

.footer__contact li {
  color: rgba(255, 255, 255, 0.735);
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.735);
  margin-top: 40px;
  font-size: 0.9rem;
}
